body{
    background: url(https://tse3.mm.bing.net/th?id=OIP.-Va0l4tUKPCHYT7beUOkvgHaHa&pid=Api&P=0&h=180);
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    color: darkmagenta;
}
p{
    color: black;
}