body{
    background: url(https://tse1.mm.bing.net/th?id=OIP.jap_cRszSOiPk-lu65mFLwHaEK&pid=Api&P=0&h=180);
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    color: darkblue;
}
p{
    color: black;
}